/* Transition Group */
.remove-btn,
.update-btn,
.complete-btn {
	margin-right: 0.5rem;
}

.fade-enter {
	opacity: 0.01;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0.01;
	transition: opacity 1000ms ease-in;
}

/* ~~~~~~~~
START NAVIGATION STYLING
~~~~~~~~ */
.navigation-link,
.link-component,
.navigation-text {
	color: blanchedalmond !important;
}

.navigation-link,
.link-component,
.navigation-text:hover {
	color: #ff3637;
	cursor: pointer;
	text-emphasis: none !important;
	text-decoration: none !important;
}

.pomodoro-navbar {
	height: 10vh !important;
	background-color: black !important;
}

/* ~~~~~~~~
END NAVIGATION STYLING
~~~~~~~~ */

/* ~~~~~~~~
START HOME PAGE STYLING
~~~~~~~~ */
#home-jumbotron {
	padding-top: 10vh !important;
	background-color: rgba(0, 0, 0, 0.3);
	color: blanchedalmond;
}

.home-card {
	background-color: rgba(0, 0, 0, 0.5) !important;
	color: blanchedalmond;
}

.home-link,
.home-link > button {
	color: blanchedalmond;
	cursor: pointer;
	text-emphasis: none !important;
	text-decoration: none !important;
	border-color: blanchedalmond;
}

.home-link > button:hover {
	background-color: rgba(0, 0, 0, 0);
	color: blanchedalmond !important;
	border-color: black;
}

/* ~~~~~~~~
END HOME PAGE STYLING
~~~~~~~~ */

/* ~~~~~~~~
START LOGIN && REGISTER PAGES STYLING
~~~~~~~~ */
#login-reactstrap-container,
#register-page-container {
	background-color: rgba(0, 0, 0, 0.3);
	color: blanchedalmond;
}

.form-input {
	background-color: black !important;
	color: blanchedalmond !important;
	border-color: blanchedalmond !important;
}

.form-input:focus {
	border-color: blanchedalmond !important;
}

.form-button {
	color: blanchedalmond !important;
	border-color: blanchedalmond !important;
}

.form-button:hover {
	background-color: rgba(0, 0, 0, 0) !important;
}

/* ~~~~~~~~
END LOGIN && REGISTER PAGES STYLING
~~~~~~~~ */

/* ~~~~~~~~
START DASHBOARD PAGE STYLING
~~~~~~~~ */

#pomodoro-list-container,
#timer-card-container,
#add-pomodoro-container {
	margin-bottom: 2.5vh !important;
}

#pomodoro-list-container {
	max-height: 60vh !important;
	overflow: scroll !important;
}

/* ~~~~~~~~
END DASHBOARD PAGE STYLING
~~~~~~~~ */

/* ~~~~~~~~
START COMPLETED POMODOROS PAGE STYLING
~~~~~~~~ */

#pomodoro-table-container {
	max-height: 80vh !important;
	overflow: scroll !important;
}

#pomodoro-table {
	color: blanchedalmond;
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.table-header {
	color: #ff3737;
}

/* ~~~~~~~~
END COMPLETED POMODOROS PAGE STYLING
~~~~~~~~ */
